    //Importing the fonts
@import url('https://fonts.googleapis.com/css?family=Enriqueta|Varela+Round');

    //Fonts
$main-font: 'Varela Round', sans-serif;
$header-font: 'Enriqueta', serif;

    //Colors
$acc-green: rgb(100,250,125);
$main-bg: #27462b;
$crimson: #ad0030;

body {
    background-color: $main-bg;
    font-family: $main-font;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    color: $acc-green;
    text-align: center;
}