/*Import the SCSS file*/
@import url("https://fonts.googleapis.com/css?family=Archivo|Enriqueta");
body {
  background: #ededed;
  font-family: "Archivo", sans-serif;
  margin: 0; }

p {
  line-height: 27px;
  font-size: 20px; }

.pagewrapper {
  margin: 0 5px; }

header {
  border-top: 5px solid #4aaa40;
  border-bottom: 5px solid #4aaa40;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-content: center; }
  header img {
    display: inline-block; }
  header h1 {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center; }
  header img#offright {
    margin-left: 25px; }
  header img#offleft {
    margin-right: 25px; }

a {
  color: #494949; }

a:hover {
  color: #4aaa40;
  transition-duration: .5s; }

nav.hidden {
  position: fixed;
  top: -75px;
  transition-duration: 1.5s;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  height: 75px;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0; }

.displayNone {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 0;
  width: 158.7px;
  text-align: center;
  padding-left: 0;
  margin: 33.5px 0 0 -50px;
  visibility: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column; }

.displayNone li {
  transition-duration: 1s;
  position: relative;
  margin-top: 13px;
  height: 49px;
  padding: 35px 0 0 0;
  z-index: 1000; }

li.dd:hover .displayNone {
  color: white;
  height: 400px;
  display: block;
  transition-duration: .75s;
  visibility: visible; }

nav a {
  color: white;
  text-decoration: none;
  text-align: center; }

nav a:hover {
  color: white; }

nav ul {
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0; }

nav ul li {
  list-style: none;
  margin-top: -9px;
  padding: 33.5px 50px; }

nav ul li a:hover {
  color: white; }

nav ul li:hover {
  background: rgba(173, 0, 48, 0.5);
  transition-duration: .5s; }

i.fas {
  background-color: #4aaa40;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 4px;
  transition-duration: 1.5s;
  z-index: 1000000;
  position: relative;
  color: white;
  margin-left: 5px;
  top: 0; }

#navIcon {
  position: fixed; }

i.fas:hover {
  color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Enriqueta", serif;
  color: #494949;
  font-weight: 600;
  text-align: center; }

p {
  color: #494949;
  font-weight: 500;
  text-indent: 33px; }

.flexP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.flexPC {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row-reverse; }

.col1 {
  display: flex;
  flex-direction: column;
  width: 42.5%;
  margin: 5% 0 0 5%;
  padding: 10px; }

.col2 {
  display: flex;
  flex-direction: column;
  width: 42.5%;
  margin: 5% 5% 0 0;
  padding: 10px; }

.col1:hover,
.col2:hover {
  background-color: rgba(0, 0, 0, 0.25);
  transition-duration: .5s; }

.w70 {
  width: 70%;
  margin: auto; }

.w50 {
  width: 50%;
  margin: auto; }

.w30 {
  width: 30%;
  margin: auto; }

.w60na {
  width: 60%; }

.w40na {
  width: 30%; }

#output {
  color: #ad0030; }

body#intro {
  overflow-x: hidden; }

#intro div.card2 {
  overflow-x: hidden; }

#intro div div.card {
  transition-duration: 3s;
  visibility: hidden;
  padding: 100px 20px;
  position: absolute;
  left: -2560px;
  color: black;
  width: 50%;
  border: 3px solid white; }

.cardShown {
  display: none;
  transition-duration: 3s;
  padding: 100px 20px;
  position: absolute;
  left: 50%;
  color: black;
  width: 50%;
  margin-left: -25%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid white; }

.cardHidden {
  color: black;
  display: none;
  transition-duration: 3s;
  padding: 100px 20px;
  left: 2560px;
  width: 50%;
  position: absolute;
  border: 3px solid white; }

p.black {
  color: black; }

div.width {
  width: 20%; }

.cardText {
  display: block;
  width: 100%;
  margin: 0; }

.am-intro {
  text-align: center;
  font-weight: 400;
  font-size: 20px; }

#contact {
  overflow-x: hidden; }
  #contact main.pagewrapper {
    background-color: #ededed;
    z-index: 1; }
    #contact main.pagewrapper h2 {
      border-left: 3px solid white;
      border-right: 3px solid white;
      width: 120px;
      margin: 20px auto; }
    #contact main.pagewrapper p {
      text-indent: 0; }
    #contact main.pagewrapper col1,
    #contact main.pagewrapper col2 {
      width: 350px; }
    #contact main.pagewrapper section {
      position: absolute;
      left: -25%;
      transform: translateX(-50%);
      z-index: 0; }
    #contact main.pagewrapper .discord i {
      margin-top: 20px;
      color: #ad0030; }
    #contact main.pagewrapper .twitch i {
      color: #ad0030; }
    #contact main.pagewrapper .linkedin i {
      color: #ad0030; }
    #contact main.pagewrapper i {
      font-size: 350px;
      color: #ad0030; }
    #contact main.pagewrapper i.fa-angle-double-left,
    #contact main.pagewrapper i.fa-angle-double-right {
      visibility: visible;
      font-size: 25px;
      padding: 10px;
      border-radius: 5px;
      background: #aaaaaa;
      margin: 50% 0 0 0; }
    #contact main.pagewrapper i.fas {
      color: #ad0030; }
    #contact main.pagewrapper i.fas:hover {
      color: #ad0030; }
    #contact main.pagewrapper i.fa-envelope-square {
      background: rgba(0, 0, 0, 0); }
    #contact main.pagewrapper a {
      text-align: center;
      width: 350px; }
    #contact main.pagewrapper div.center {
      text-align: center; }
    #contact main.pagewrapper .grey {
      color: #ababab; }
    #contact main.pagewrapper .cardVisible {
      left: 20%;
      z-index: 100; }
    #contact main.pagewrapper .cardHiddenR {
      left: 40%;
      z-index: 0; }
    #contact main.pagewrapper .arrows {
      display: flex;
      justify-content: space-between; }

#resume .pagewrapper ul {
  margin: auto;
  display: block; }

#rec {
  overflow-x: hidden; }
  #rec a {
    z-index: 10;
    display: flex;
    align-items: center;
    margin: auto; }
  #rec footer {
    margin-top: 1250px; }
  #rec .pagewrapper #card1 {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    transition-duration: 1s;
    margin-left: 0; }
  #rec .pagewrapper #card2 {
    margin-top: 50px;
    position: absolute;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 1s;
    margin-left: 2560px; }
  #rec .pagewrapper #switch {
    margin: 20px auto;
    width: 10%;
    text-align: center;
    border: 4px solid #4aaa40;
    color: #494949;
    display: block;
    padding: 5px 0; }
  #rec .pagewrapper #switch:hover {
    color: #494949;
    cursor: default; }

#writing p.border {
  border-top: 5px solid #ad0030; }

/*# sourceMappingURL=index.css.map */
