/*Import the SCSS file*/
@import url("https://fonts.googleapis.com/css?family=Archivo|Enriqueta");
body {
  background: #373737;
  font-family: "Archivo", sans-serif;
  margin: 0; }

header {
  border-top: 5px solid #ad0030;
  border-bottom: 5px solid #ad0030;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-content: center;
  margin-left: 5px;
  margin-right: 5px; }
  header img {
    display: inline-block; }
  header h1 {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center; }

nav.hidden {
  position: absolute;
  top: -75px;
  transition-duration: 1.5s;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 75px;
  width: 100%; }

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around; }

nav ul li {
  display: inline-block; }

i.fas {
  background-color: #ad0030;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  transition-duration: 1.5s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Enriqueta", serif;
  color: white;
  font-weight: 600;
  text-align: center; }

p {
  color: white;
  font-weight: 500;
  text-indent: 33px; }
