    //Importing the fonts and making them variables.
@import url('https://fonts.googleapis.com/css?family=Archivo|Enriqueta');
$title-font: 'Enriqueta', serif;
$main-font: 'Archivo', sans-serif;
    //Declaring the color variables.
$bg-grey: #373737;
$main-green: #27462b;
$acc-green: #4bfa4b;
$os-red: #ad0030;

$ind-33px: 33px;

//*******************GENERAL**********************//

body {
    background: $bg-grey;
    font-family: $main-font;
    margin: 0 5px;
}

header {
    border-top: 5px solid $os-red;
    border-bottom: 5px solid $os-red;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-content: center;
    
    img {
        display: inline-block;
    }
    
    h1 {
        display: inline-block;
        flex: 1 1 auto;
        text-align: center;
    }

    img#offright {
        margin-left: 25px;
    }
    
    img#offleft {
        margin-right: 25px;
    }

}

nav.hidden {
    position: absolute;
    top: -75px;
    transition-duration: 1.5s;
    background: rgba(0,0,0,0.5);
    color: white;
    height: 75px;
    width: 100%; 
    padding-left: 0;
}



.displayNone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 0;
    width: 208.91px;
    display: none;  
    text-align: center;
    padding-left: 0;
    margin: 33.5px 0 0 -100px;
}

.displayNone li {
//    transition-delay: .25s;
    transition-duration: 1s;  
    position: relative;
    width: 100%;
    margin-top: 13px;
    height: 49px;
    padding-top: 35px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    z-index: 1000;
}

li.dd:hover .displayNone {
    color: white;
    height: 296px;
    display: block;
}

.dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    margin-top: -25px;
    padding: 33.5px 100px 33.5px 100px;
}

nav ul li:hover {
    background: rgba(173, 0, 48, .75);
    transition-duration: .5s;
}

i.fas {
    background-color: $os-red; 
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 4px;
    transition-duration: 1.5s;
    z-index: 1000000;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: white;
    font-weight: 600;
    text-align: center;
}

p {
    color: white;
    font-weight: 500;
    text-indent: $ind-33px;
}

//*******************INTRODUCTION**********************//

body#intro {
    overflow-x: hidden;
}

#intro div.card {
    overflow-x: hidden;
}

#intro div div.card {
    transition-duration: 3s;
    visibility: hidden;
    padding: 200px;
    position: absolute;
    margin-left: -2560px;
    color: white;
    z-index: 1;
}

.cardShown {
    visibility: visible;
    transition-duration: 3s;
    padding: 200px 0;
    position: absolute;
    margin: auto 0;
    color: white;
    z-index: 1;
}

.cardHidden {
    color: white;
    visibility: hidden;
    transition-duration: 3s;
    padding: 200px;
    position: absolute;
    margin-left: 2560px;
    z-index: 1;
    min-width: 70%;
}

.flexP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.col1 {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    margin: 5px 2.5% 5px 5%;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    margin: 5px 5% 5px 2.5%;
}

.w70 {
    width: 70%;
    margin: auto;
}

.w50 {
    width: 50%;
    margin: auto;
}