    //Importing the fonts and making them variables.
@import url('https://fonts.googleapis.com/css?family=Archivo|Enriqueta');
$title-font: 'Enriqueta', serif;
$main-font: 'Archivo', sans-serif;
    //Declaring the color variables.
//$bg-grey: #373737;
$bg-grey: #494949;
$main-green: #27462b;
$acc-green: #4bfa4b;
$os-red: #ad0030;

$ind-33px: 33px;

//*******************GENERAL**********************//

body {
    background: $bg-grey;
    font-family: $main-font;
    margin: 0;
}

p {
    line-height: 27px;
    font-size: 20px;
}

.pagewrapper {
    margin: 0 5px;
}

header {
    border-top: 5px solid $acc-green;
    border-bottom: 5px solid $acc-green;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-content: center;
    
    img {
        display: inline-block;
    }
    
    h1 {
        display: inline-block;
        flex: 1 1 auto;
        text-align: center;
    }

    img#offright {
        margin-left: 25px;
    }
    
    img#offleft {
        margin-right: 25px;
    }

}

a {
    color: white;
}

a:hover {
    color: $acc-green;
    transition-duration: .5s;
}

nav.hidden {
    position: absolute;
    top: -75px;
    transition-duration: 1.5s;
    background: rgba(0,0,0,0.5);
    color: white;
    height: 75px;
    width: 100%;
    display: flex;
    padding: 0;
}

.displayNone {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 0;
    width: 208.91px;
    text-align: center;
    padding-left: 0;
    margin: 33.5px 0 0 -100px;
    visibility: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.displayNone li {
    transition-duration: 1s;  
    position: relative;
    margin-top: 13px;
    height: 49px;
    padding: 35px 0 0 0;
    z-index: 1000;
}

li.dd:hover .displayNone {
    color: white;
    height: 296px;
    display: block;    
    transition-duration: .75s;
    visibility: visible;
}

nav ul {
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin-top: -9px;
    padding: 33.5px 100px 33.5px 100px;
}

nav ul li:hover {
    background: rgba(173, 0, 48, .5);
    transition-duration: .5s;
}

i.fas {
    background-color: $os-red; 
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 4px;
    transition-duration: 1.5s;
    z-index: 1000000;
    position: relative;
    color: $bg-grey;
    margin-left: 5px;
}

i.fas:hover {
    color: $bg-grey;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: white;
    font-weight: 600;
    text-align: center;
}

p {
    color: white;
    font-weight: 500;
    text-indent: $ind-33px;
}


.flexP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexPC {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.col1 {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    margin: 5% 0 5% 5%;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    margin: 5% 5% 5% 0;
}

.w70 {
    width: 70%;
    margin: auto;
}

.w50 {
    width: 50%;
    margin: auto;
}

.w30 {
    width: 30%;
    margin: auto;
}


//*******************INTRODUCTION**********************//

body#intro {
    overflow-x: hidden;
}

#intro div.card2 {
    overflow-x: hidden;
}

#intro div div.card {
    transition-duration: 3s;
    visibility: hidden;
    padding: 100px 20px;
    position: absolute;
    left: -2560px;
    color: black;
    width: 50%;
    border: 3px solid white;
}

.cardShown {
    visibility: visible;
    transition-duration: 3s;
    padding: 100px 20px;
    position: absolute;
    left: 50%;
    color: black;
    width: 50%;
    margin-left: -25%;
    background-color: rgba(255,255,255,0.5);
    border: 3px solid white;
}

.cardHidden {
    color: black;
    visibility: hidden;
    transition-duration: 3s;
    padding: 100px 20px;
    left: 2560px;
    width: 50%;
    position: absolute;
    border: 3px solid white;
}

p.black {
    color: black;
}

div.width {
    width: 20%;
}

.cardText {
    display: block;
    width: 100%;
    margin: 0;
}

//*******************ABOUT-ME**********************//

.am-intro {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

//*******************CONTACT-ME**********************//

#contact main.pagewrapper {
    
    h2 {
        border-left: 1px solid white;
        border-right: 1px solid white;
        width: 120px;
        margin: 20px auto;
    }

    p {
        text-indent: 0;
    }
    
    col1,
    col2 {
        width: 350px;
    }
    
    .discord i {
        margin-top: 20px;
        color: #7289da;
    }
    
    .twitch i {
        color: #6441a5;
        margin-top: 10px;
    }
    
    .linkedin i {
        color: #0077b5;
    }
    
    i {
        font-size: 350px;
        color: $os-red;
    }
    
    i.fas {
        background-color: rgba(0,0,0,0);
    }
    
    i.fas:hover {
        color: $os-red;
    }
    
    a {
        text-align: center;
        width: 350px;
    }
    
    div.center {
        text-align: center;
    }
    
    .grey {
        color: #ababab;
    }
    
}

//*******************RESUME**********************//

#resume .pagewrapper {
    
    ul {
        margin: auto;
        display: block;
    }
    
}

//*******************ART**********************//

#art .pagewrapper {
    
    .w70 {
        margin: 0;
    }
    
    .m30 {
        margin: 0 15px;
    }
    
    div.row {
        width: 100vw;
    }
    
    .flexP {
        width: 70%;
    }

    .flexP {
        margin: auto;
        display: block;
    }
    
}