    //Importing the fonts and making them variables.
@import url('https://fonts.googleapis.com/css?family=Archivo|Enriqueta');
$title-font: 'Enriqueta', serif;
$main-font: 'Archivo', sans-serif;
    //Declaring the color variables.
$main-green: #4aaa40;
$bg-grey: #373737;
$os-red: #ad0030;
$ind-33px: 33px;

//*******************GENERAL**********************//

body {
    background: #ededed;
    font-family: $main-font;
    margin: 0;
}

p {
    line-height: 25px;
    font-size: 20px;
}

.pagewrapper {
    margin: 0 5px;
}

header {
    border-top: 5px solid $main-green;
    border-bottom: 5px solid $main-green;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-content: center;
    margin-top: 40px;

    img {
        display: inline-block;
    }

    h1 {
        display: inline-block;
        flex: 1 1 auto;
        text-align: center;
    }

    img#offright {
        margin-left: 25px;
    }

    img#offleft {
        margin-right: 25px;
    }

}

a {
    color: $bg-grey;
}

a:hover {
    color: $main-green;
    transition-duration: .5s;
}

nav.hidden {
    position: fixed;
    top: -75px;
    transition-duration: 1.5s;
    background: rgba(0,0,0,.66);
    color: white;
    height: 75px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.displayNone {
    background-color: rgba(0,0,0,.66);
    position: fixed;
    height: 0;
    width: 208.91px;
    text-align: center;
    padding-left: 0;
    margin: 33.5px 0 0 -100px;
    visibility: hidden;
    overflow-y: hidden;
}

.displayNone li {
    transition-duration: 1s;
    position: relative;
    margin-top: 13px;
    height: 49px;
    padding-top: 35px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    z-index: 1000;
}

li.dd:hover .displayNone {
    color: white;
    height: 296px;
    display: block;
    transition-duration: .75s;
    visibility: visible;
}

nav ul {
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    width: 100%;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-top: -9px;
    padding: 33.5px 100px 33.5px 100px;
}

nav ul li:hover {
    background: rgba(173, 0, 48, .5);
    transition-duration: .5s;
}

i.fas {
    background-color: $main-green;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 4px;
    transition-duration: 1.5s;
    z-index: 1000000;
    position: relative;
    color: white;
    margin-left: 5px;
    position: fixed;
    top: 0;
}

i.fas:hover {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: $bg-grey;
    font-weight: 600;
    text-align: center;
}

p {
    color: $bg-grey;
    font-weight: 500;
    text-indent: $ind-33px;
}


.flexP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: inital;
}


.col1 {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    margin: 5px 2.5% 5px 5%;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    margin: 5px 5% 5px 2.5%;
}

.w70 {
    width: 70%;
    margin: auto;
}

.w50 {
    width: 50%;
    margin: auto;
}


//*******************INTRODUCTION**********************//

body#intro {
    overflow-x: hidden;
}

#intro div.card2 {
    overflow-x: hidden;
}

#intro div div.card {
    transition-duration: 2s;
    visibility: hidden;
    padding: 100px 20px;
    position: absolute;
    left: -2560px;
    color: black;
    width: 50%;
    border: 3px solid white;
}

.cardShown {
    visibility: visible;
    transition-duration: 2s;
    padding: 100px 20px;
    position: absolute;
    left: 50%;
    color: black;
    width: 50%;
    margin-left: -25%;
    background-color: rgba(255,255,255,0.5);
    border: 3px solid white;
}

.cardHidden {
    color: black;
    visibility: hidden;
    transition-duration: 2s;
    padding: 100px 20px;
    left: 2560px;
    width: 50%;
    position: absolute;
    border: 3px solid white;
}

.flexPC {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

p.black {
    color: black;
}

div.width {
    width: 20%;
}

.cardText {
    display: block;
    width: 100%;
    margin: 0;
}

//*******************ABOUT-ME**********************//

.am-intro {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

//*******************RECOMMENDATION**********************//

#rec {

    overflow-x: hidden;

    a {
        z-index: 10;
        display: flex;
        align-items: center;
        margin: auto;
    }

    footer {
        margin-top: 1250px;
    }

    .pagewrapper {

       #card1 {
           margin-top: 20px;
           position: absolute;
           left: 50%;
           transform: translateX(-50%);
           max-width: 100%;
           transition-duration: 1s;
           margin-left: 0;
       }

       #card2 {
           margin-top: 20px;
           position: absolute;
           max-width: 100%;
           left: 50%;
           transform: translateX(-50%);
           transition-duration: 1s;
           margin-left: 2560px;

       }

   }

}
